html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* navigation bar */
.navBar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    width: 100%;
    padding: 1.5em;
    
    background-color: #d14440;
}

#leftNav {
    width: 70%;
}

#name {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

#name:hover {
    color: #f9d252;
    transition: all 0.3s ease 0s;
}

#rightNav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 30%;
}

.rightNavButton {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.rightNavButton:hover {
    color: #f9d252;
    font-size: 1.05rem;
    transition: all 0.3s ease 0s;
}
/* end of navigation bar */

/* banner */
#banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    width: 100%;
    height: 90svh;

    padding: 1em;
    margin: 0;
    background-color: #fff;
}

#image {
    width: 50%;
    height: 100%;
    opacity: 100%;
    
    box-sizing: border-box;
    border-radius: 3rem;
    padding: 1rem;
    margin-right: 1.5rem;

    background-image: url("./components/imageBanner.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease 0s;
}

#image:hover {
    opacity: 90%;
    transition: all 0.3s ease 0s;
}

#autobiography {
    width: 50%;
    text-align: left;
    margin: 0;
    align-items: flex-end;
}

.abContent {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
}

#introduction {
    color: #d14440;
    font-size: 3rem;
    font-weight: 700;
    transition: all 0.3s ease 0s;
}

#introduction:hover {
    color: #f9d252;
}

.textHighlight {
    font-weight: 700;
}
/* end of banner */

/* projects */
.sectionTitle {
    font-weight: 900;
    text-align: center;
    margin-bottom: 0;
}

#projects {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;

    height: 100svh;
    
    background-color: #f9d252;
    padding: 2rem;
}

#projectsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    
    box-sizing: border-box;
    width: 100%;

    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.projectCard {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 30%;
}

.projectTitle {
    font-size: 0.9rem;
    padding-left: 30px;
    margin: 0;
    transition: all 0.1s ease 0s;
}

.projectTitle:hover {
    color: #d14440;
    transition: all 0.1s ease 0s;
}

.projectDesc {
    font-size: 0.75rem;
    padding-left: 30px;
    margin: 0;
    transition: all 0.1s ease 0s;
}

.projectDesc:hover {
    color: #d14440;
    transition: all 0.1s ease 0s;
}

.projectImage {
    object-fit: cover;
    height: 240px;
    width: 90%;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 6px 6px 15px;
    margin: 1em;
    transition: all 0.3s ease 0s;
}

.projectImage:hover {
    scale: 1.01;
    transition: all 0.3s ease 0s;
}
/* end of projects */

/* skills */
#skills {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;

    height: 60svh;
}

.techStack {
    width: 60%;
}
/* end of skills */

/* footer */
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;

    box-sizing: border-box;
    width: 100%;
    padding: 1em;

    color: white;
    background-color: #3781a1;
}

#footerLogo {
    height: 100px;
    border-radius: 1em;
    margin-right: 1.5em;
}

#footerContent {
    width: 90%;
    font-size: 0.75rem;
}

#address, #copyright, #email, #number {
    margin: 0;
    margin-bottom: 3px;
}

#copyright, #number {
    margin-bottom: 12px;
}

#backToTop {
    color: #f9d252;
    font-size: 0.9rem;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

#backToTop:hover {
    color: #d14440;
    transition: all 0.3s ease 0s;
}
/* end of footer */